@import '../../public/colors.scss';

.button {
    font-size: 14px;
    color: $proclub-black;
    border-style: none;
    background-color: $proclub-white;
}

.small {
    padding-left: 30px;
    padding-right: 30px;
    height: 40px;
    border-radius: 20px;
}

.medium {
    padding-left: 30px;
    padding-right: 30px;
    height: 48px;
    border-radius: 24px;
}

.big {
    padding-left: 30px;
    padding-right: 30px;
    height: 56px;
    font-size: 18px;
    border-radius: 28px;
}

.primary {
    color: $proclub-white;
    background-color: $proclub-primary;

    &:hover {
        background-color: $proclub-primary-2; 
    }

    &:active {
        background-color: $proclub-primary-3;
    }

    &:disabled {
        background-color: $proclub-primary-1
    }
}

.secondary {
    color: $proclub-white;
    background-color: $proclub-secondary;

    &:hover {
        background-color: $proclub-secondary-2; 
    }

    &:active {
        background-color: $proclub-secondary-3;
    }

    &:disabled {
        background-color: $proclub-secondary-1
    }
}