.button-text {
    font-size: 14px;    
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 16px;
    border-style: none;
    outline: none;
    background-color: transparent;    
    cursor: pointer;    
}