@import "../../public/colors.scss";

.button {
  border-style: none;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: white;
  &-filled {
    background-color: $primary;
    padding: 0 32px;
    height: 48px;
    border-radius: 8px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.05);
    &-hover{
      background-color: $primary-variant;
    }
    &-active{
      background-color: $secondary-variant;
    }
  }

  //Button Selector
  &:hover,
  &:focus {
    outline: none;
  }

  &:hover{
    background-color: $primary-variant;
  }

  &:active{
    background-color: $secondary-variant;
  }
}
