// brand pallete
$proclub-primary: #FC6A00;
$proclub-secondary: #209CF6;

// extenderd pallete
$proclub-primary-1: #FFA562;
$proclub-primary-2: #FF8C38;
$proclub-primary-3: #C45300;
$proclub-primary-4: #9A4100;

$proclub-secondary-1: #77C2F7;
$proclub-secondary-2: #4AAFF7;
$proclub-secondary-3: #0991F2;
$proclub-secondary-4: #0991F2;

// neutral pallete
$proclub-black: #000;
$proclub-white: #fff;
$proclub-orange: #F86339;
$proclub-accent: #FEE5CD;
$proclub-grey: #E0E0E0;

// adjacent
$proclub-purple: #333055;