// registering fonts
//Regular
@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: normal;
    src: url(./assets/fonts/OpenSans/OpenSans-Regular.ttf);
}
//Semi-Bold
@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 600;
    src: url(./assets/fonts/OpenSans/OpenSans-SemiBold.ttf);
}
//Bold
@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: bold;
    src: url(./assets/fonts/OpenSans/OpenSans-Bold.ttf);
}
//Extra-Bold
@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 800;
    src: url(./assets/fonts/OpenSans/OpenSans-ExtraBold.ttf);
}
//Italic
@font-face {
    font-family: 'OpenSans';
    font-style: italic;
    font-weight: normal;
    src: url(./assets/fonts/OpenSans/OpenSans-Italic.ttf);
}
//Italic Semi-Bold
@font-face {
    font-family: 'OpenSans';
    font-style: italic;
    font-weight: 600;
    src: url(./assets/fonts/OpenSans/OpenSans-SemiBoldItalic.ttf);
}
//Italic Bold
@font-face {
    font-family: 'OpenSans';
    font-style: italic;
    font-weight: bold;
    src: url(./assets/fonts/OpenSans/OpenSans-BoldItalic.ttf);
}
//Italic Extra-Bold
@font-face {
    font-family: 'OpenSans';
    font-style: italic;
    font-weight: 800;
    src: url(./assets/fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf);
}

//Font Style
//Regular
.regular {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: normal;
}
//Semi-Bold
.semibold {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 600;
}
//Bold
.bold {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: bold;
}
//Extra-Bold
.extrabold {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 800;
}
//Italic
.italic {
    font-family: 'OpenSans';
    font-style: italic;
    font-weight: normal;
}
//Italic Semi-Bold
.italic-semibold {
    font-family: 'OpenSans';
    font-style: italic;
    font-weight: 600;
}
//Italic Bold
.italic-bold {
    font-family: 'OpenSans';
    font-style: italic;
    font-weight: bold;
}
//Italic Extra-Bold
.italic-extrabold {
    font-family: 'OpenSans';
    font-style: italic;
    font-weight: 800;
}

// Tag Styling
i{
    font-family: 'OpenSans';
    font-style: italic;
    font-weight: normal;
}
strong{
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 800;
}
h1{
    font-size: 96px;
    line-height: auto;
    letter-spacing: -1.5px;
    font-family: 'OpenSans';
    font-weight: 800;
}
h2{
    font-size: 60px;
    line-height: auto;
    letter-spacing: 0px;
    font-family: 'OpenSans';
    font-weight: 800;
}
h3{
    font-size: 48px;
    line-height: auto;
    letter-spacing: 0px;
    font-family: 'OpenSans';
    font-weight: 800;
}
h4{
    font-size: 34px;
    line-height: auto;
    letter-spacing: 0.25px;
    font-family: 'OpenSans';
    font-weight: bold;
}
h5{
    font-size: 24px;
    line-height: auto;
    letter-spacing: 0px;
    font-family: 'OpenSans';
    font-weight: bold;
}
//Classname Styling
.article{
    font-size: 64px;
    line-height: auto;
    letter-spacing: 0px;
    font-family: 'OpenSans';
    font-weight: bold;
}
.body-big{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    font-family: 'OpenSans';
    font-weight: normal;
}
.body-1{ 
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.44px;
    font-family: 'OpenSans';
    font-weight: bold;
}
.subtitle{
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.1px;
    font-family: 'OpenSans';
    font-weight: bold;
}
.button{
    font-size: 14px;
    line-height: auto;
    letter-spacing: 0.75px;
    font-family: 'OpenSans';
    font-weight: bold;
}
.body-2{
    font-size: 14px;
    line-height: auto;
    letter-spacing: 0.75px;
    font-family: 'OpenSans';
    font-weight: bold;
}
.caption{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.4px;
    font-family: 'OpenSans';
    font-weight: bold;
}
.overline{
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1.5px;
    font-family: 'OpenSans';
    font-weight: bold;
}