@import '../../public/colors.scss';
.btn{
  width: 170px;
  height: 48px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.button-ghost{
  &-primary{
    /* Background Color */
    background: #D5D5D5;
    /* Clickable Shadow */
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    /* TipografiWhiteColor */
    color: $typography-white;
    &-black{
      color: $typography-black;
      &:active{
        background: $primary;
      }
    }
    //Button Selector
    &:active{
      background: $primary;
    }
  }
}
