@import '../../public/colors.scss';

.button-ghost{
  /* Background Color */
  background: #D5D5D5;
  /* Clickable Shadow */
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.05);
  border-radius: 8px;

}
//Color theme
.primary{
  /* TipografiWhiteColor */
  color: #F6FDFF;
  //Button Selector
  &:active{
    background: $primary;
  }
}

.secondary{
  /* TipografiWhiteColor */
  color: #F6FDFF;
  //Button Selector
  &:active{
    background: $secondary;
  }
}

.secondary{
  /* TipografiWhiteColor */
  color: #F6FDFF;
  //Button Selector
  &:active{
    background: $secondary;
  }
}
.secondary{
  /* TipografiWhiteColor */
  color: #F6FDFF;
  //Button Selector
  &:active{
    background: $secondary;
  }
}
.secondary{
  /* TipografiWhiteColor */
  color: #F6FDFF;
  //Button Selector
  &:active{
    background: $secondary;
  }
}
.medium{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  width: 173px;
  height: 48px;
}